<!-- Tabela  -->
 <div class="flex flex-col items-center justify-center h-full gap-4">
    <app-data-picker></app-data-picker>
    <div title="{{tableName}}">
    <div class="table-header">
      <div class="top-bar">
        <h3 class="table-title">{{tableName}}</h3>
      </div>
    </div>
    <div class="tabela-horarios">
      <table>
        <thead>
          <tr>
            <th class="border-right text-center" scope="col">Nome</th>
            <th class="border-right text-center" scope="col">Email</th>
            <th class="border-right text-center" scope="col">Aniversario</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of tableData">
            <td class="text-center">{{ row.nome }}</td>
            <td class="text-center">{{ row.email }}</td>
            <td class="text-center">{{ row.aniversario }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
 </div>

