<!-- Tabela  -->
 <div class="flex flex-col items-center justify-center h-full gap-4">
    <div class="flex">
        <h2 class="text-2xl font-bold mb-4">{{ tableName }}</h2>
        <app-data-picker></app-data-picker>
        <div class="h-4"></div>
        <button (click)="rerender()" class="border p-2">Refresh</button>
        </div>
    </div>

        <div class="w-full overflow-y-auto rounded-lg border border-[var(--card)] shadow-sm m-3">
        <table class="w-full min-w-full divide-y divide-[var(--card)] table-fixed">
            <thead class="bg-[var(--item)]">
            @for (headerGroup of table.getHeaderGroups(); track headerGroup.id) {
                <tr class="border-b border-[var(--card)]">
                @for (header of headerGroup.headers; track header.id) {
                    @if (!header.isPlaceholder) {
                    <th class="text-center px-4 py-2 font-semibold border-b border-[var(--card)] text-[var(--sky-50)]">
                        <ng-container
                        *flexRender="
                            header.column.columnDef.header;
                            props: header.getContext();
                            let header
                        "
                        >
                        <div [innerHTML]="header"></div>
                        </ng-container>
                    </th>
                    }
                }
                </tr>
            }
            </thead>
            <tbody class="divide-y divide-[var(--card)]">
            @for (row of table.getRowModel().rows; track row.id) {
                <tr class="border-b border-[var(--card)] last:border-b-0">
                @for (cell of row.getVisibleCells(); track cell.id) {
                    <td class="text-center px-4 py-2 align-middle">
                    <ng-container
                        *flexRender="
                        cell.column.columnDef.cell;
                        props: cell.getContext();
                        let cell
                        "
                    >
                        <div [innerHTML]="cell"></div>
                    </ng-container>
                    </td>
                }
                </tr>
            }
            </tbody>
        </table>
 </div>

